[user]
	name = Martin Le Roy
	email = martin.leroy@shippeo.com
	# Make sure Git don't guess my identity - it will ask wich name & email it should use in new projects, useful for open source - available since Git 2.8
	# Doesn't work if email is globally configured
	# useConfigOnly = true
[color]
	ui = always
[core]
	autocrlf = input
	editor = "emacs -nw"
	# Associate your editor for commit/tag/diff/rebase/...
	# editor = atom --wait # Atom
	# editor = code --wait # Visual Studio Code
	# editor = mate --wait # TextMate
	# editor = nano --wait # Nano
	# editor = subl -n --wait # SublimeText

	# You should have a .gitignore dedicated to your environment to avoid committing useless files to repositories
	# Some examples :
	# - https://github.com/eduardolundgren/dotfiles/blob/master/templates/.gitignore_global
	# - https://github.com/roukmoute/dotfiles/blob/master/.gitignore_global
	# - https://github.com/github/gitignore/tree/master/Global
	# excludesFile = ~/.gitignore_global
[credential]
	# Use the credential memory cache and timeout after 5 hours (setting is in seconds)
	helper = cache --timeout=18000
[help]
	autoCorrect = 1
[push]
	default = simple
[url "https://"]
	# Fix issues with Bower
	insteadOf = git://
