## config file for i3 and Shippeo - johnduro


# Monitors Names
set $sc1 DP-2
set $sc2 HDMI-0
set $sc3 DP-3

# Workspace Output
workspace $tag1 output $sc1
workspace $tag2 output $sc1
workspace $tag3 output $sc2
workspace $tag4 output $sc2
workspace $tag5 output $sc3
workspace $tag6 output $sc3
workspace $tag7 output $sc3

# Startup
  # Monitors
exec_always --no-startup-id "xrandr --output $sc2 --auto --above $sc1"
exec_always --no-startup-id "xrandr --output $sc3 --auto --right-of $sc1"
